.CharacterSelection-container {
  position: relative;
  width: 310px;
  margin: auto;
  padding: 30px;
  height: 310px;
}

.CharacterSelection-container .Default-box {
  padding: 0;
  width: 250px;
  height: 250px;
  margin: auto;
}

.CharacterSelection-container img {
  position: absolute;
  top: -60px;
  width: 240px;
  left: 0px;
}

.carousel-caption {
  position: relative;
  right: unset;
  bottom: unset;
  left: unset;
  width: 250px;
  margin: auto;
  text-align: justify;
  top: unset;
  height: 200px;
}

.carousel-indicators {
  margin: 0;
}