.Default-box {
  border-radius: 8px;
  background-color: #fcfcfc;
  width: 100%;
  min-height: 30px;
  color: #fc4e4b;
  padding: 30px;
  position: relative;
}

.Default-box.no-right-radius {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Default-red-text {
  color: #fc4e4b;
}

.Default-black-text {
  color: #000;
}

.Default-box-grey {
  background-color: #e6e7e8;
  color: #fc4e4b;
  left: 45%;
  position: relative;
  padding: 0 1em;
  width: max-content;
  min-width: 110px;
  line-height: 30px;
  margin-top: -15px;
  text-align: center;
}

.Default-box-outline {
  background-color: transparent;
  border: 2px solid #ffffff;
}

.Default-circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: -3px -4px 4px 0 rgba(0, 0, 0, 0.25);
  line-height: 75px;
  text-align: center;
  color: #000;
}

.Default-circle-border {
  box-shadow: none;
  border: 4px solid #fc4e4b;
}

.btn-outline-light {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
}

.Default-background {
  z-index: -10;
  position: relative;
}

.Default-foreground {
  z-index: 10;
  position: relative;
}