.Progress-bar {
  border-top: 2px solid #c4c4c4;
  position: relative;
  text-transform: uppercase;
  text-align: center;
  padding: 8px 0;
}

.Progress-bar .Progress-indicator {
  position: absolute;
  height: 2px;
  top: -2px;
  left: 0;
  min-width: 2px;
  transition: width 0.25s ease-in-out;
}