#DistanceOMeter {
  position: relative;
  overflow: hidden;
  padding-bottom: 200px;
  padding-top: 60px;
}

#DistancePlayer {
  position: relative;
  height: 200px;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  transition: left 0.25s ease-in-out, bottom 0.25s ease-in-out;
  z-index: 10;
}

#DistancePlayer img {
  width: 100%;
  bottom: -25px;
  position: absolute;
}

#WeaponIcon {
  position: absolute;
  right: calc(100% - (75px / 2));
  bottom: calc(-75px / 2);
}

.Training-label {
  line-height: 2em;
  vertical-align: super;
}


#Floor {
  left: calc(50% - 300px);
  position: absolute;
  bottom: 50px;
  width: 600px;
}

#EnergyElement {
  height: 30px;
  transition: left 2s ease-in-out, top 2s ease-in-out, opacity 2.2s cubic-bezier(.78,.01,.91,.41);
  position: fixed;
  opacity: 0;
  z-index: 30;
  line-height: 30px;
  font-size: 1.3em;
  font-weight: bold;
  padding-left: 5px;
}

#EnergyElement.no-transitions {
  transition: opacity 0.15s ease-out;
}

#EnergyElement img {
  height: 100%;
  object-fit: contain;
  margin-left:10px;
}

#EnergyStopMarker, #EnergyStartMarker {
  width: 1px;
  margin: auto;
  height: 0px;
}

#EnergyStartMarker {
  position: absolute;
  left: 50%;
  top: 20%;
}

.Default-box.Training-box-top {
  padding-left: 37px;
  width: auto;
}